.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 128px;
}
.freeBox {
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  max-width: 1920px;
  flex-direction: row;
}
.freeBox > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: calc(0px - 128px);
  width: calc(100% + 128px);
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox > :global(.__wab_flex-container) > *,
.freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox > :global(.__wab_flex-container) > picture > img,
.freeBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 128px;
  margin-top: 64px;
}
.img__cp22W {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__cp22W > picture > img {
  object-fit: cover;
}
.img__cp22W > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__fVCeX {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__fVCeX > picture > img {
  object-fit: cover;
}
.img__fVCeX > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__hck5S {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__hck5S > picture > img {
  object-fit: cover;
}
.img__hck5S > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__u0WpO {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__u0WpO > picture > img {
  object-fit: cover;
}
.img__u0WpO > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__aBe79 {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__aBe79 > picture > img {
  object-fit: cover;
}
.img__aBe79 > .__wab_img-spacer > img {
  object-fit: cover;
}
