.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.heroSection2:global(.__wab_instance) {
  position: relative;
}
.freeBox__ubtg3 {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__ubtg3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__ubtg3 > :global(.__wab_flex-container) > *,
.freeBox__ubtg3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ubtg3 > :global(.__wab_flex-container) > picture > img,
.freeBox__ubtg3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__s3Chg {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__s3Chg > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__s3Chg > :global(.__wab_flex-container) > *,
.freeBox__s3Chg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__s3Chg > :global(.__wab_flex-container) > picture > img,
.freeBox__s3Chg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__q4Bw1 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: auto;
}
.text__rLDem {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #05050599 /* plasmic-token: kBtqO0lq3538 */;
  background: #ffffff;
  padding: 4px 8px;
}
.text__nHal4 {
  font-size: 60px;
  font-weight: 800;
  line-height: 1;
  color: #000000d9 /* plasmic-token: PmgDUvi4dWLy */;
}
.text__bvnCq {
  font-size: 20px;
  color: #05050599 /* plasmic-token: kBtqO0lq3538 */;
  line-height: 28px;
}
.freeBox___1WFgY {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox___1WFgY > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___1WFgY > :global(.__wab_flex-container) > *,
.freeBox___1WFgY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1WFgY > :global(.__wab_flex-container) > picture > img,
.freeBox___1WFgY
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button__mDoaw:global(.__wab_instance) {
  position: relative;
}
.svg__lxDPk {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: kBtqO0lq3538 */;
}
.text___47GN6 {
  height: auto;
}
.svg__poFVp {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: kBtqO0lq3538 */;
}
.button__uhY5:global(.__wab_instance) {
  position: relative;
}
.svg__cBkaQ {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: kBtqO0lq3538 */;
}
.text__bbHlg {
  height: auto;
  font-weight: 400;
}
.svg___98D {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: kBtqO0lq3538 */;
}
.freeBox__pPZh {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  max-width: 640px;
  background: #ffffff;
  min-width: 0;
  border-radius: 16px;
}
.freeBox__pPZh > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__pPZh > :global(.__wab_flex-container) > *,
.freeBox__pPZh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pPZh > :global(.__wab_flex-container) > picture > img,
.freeBox__pPZh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox__koFxv {
  box-shadow: 0px 10px 10px 0px #00000026;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  overflow: hidden;
  border-radius: 16px;
}
.freeBox__tmE3V {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 32px;
}
.freeBox__tmE3V > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__tmE3V > :global(.__wab_flex-container) > *,
.freeBox__tmE3V > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tmE3V > :global(.__wab_flex-container) > picture > img,
.freeBox__tmE3V
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__a7Hx3 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__a7Hx3 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__a7Hx3 > :global(.__wab_flex-container) > *,
.freeBox__a7Hx3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__a7Hx3 > :global(.__wab_flex-container) > picture > img,
.freeBox__a7Hx3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button__arUrL:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__lfq65 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: kBtqO0lq3538 */;
}
.svg__rrcDg {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: kBtqO0lq3538 */;
}
.button__bIzQk:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg___3Ofrd {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: kBtqO0lq3538 */;
}
.svg__dh2Xa {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: kBtqO0lq3538 */;
}
.freeBox__svbow {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__svbow > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__svbow > :global(.__wab_flex-container) > *,
.freeBox__svbow > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__svbow > :global(.__wab_flex-container) > picture > img,
.freeBox__svbow
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.divider__kDrrv:global(.__wab_instance) {
  position: relative;
}
.divider__wxjUe:global(.__wab_instance) {
  position: relative;
}
.freeBox___2ZIaC {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox___2ZIaC > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___2ZIaC > :global(.__wab_flex-container) > *,
.freeBox___2ZIaC > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2ZIaC > :global(.__wab_flex-container) > picture > img,
.freeBox___2ZIaC
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.button__uYvBa:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__e0Mw3 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: kBtqO0lq3538 */;
}
.svg__awMsX {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #ffffff80 /* plasmic-token: FFA4fziunCF0 */;
}
.divider__mRsX3:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.freeBox__akNww {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #f2f2f7;
  padding: 32px;
}
.text__rhliR {
  position: relative;
  color: #05050599 /* plasmic-token: kBtqO0lq3538 */;
}
.navigation:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  z-index: auto;
}
.img__nQfWd {
  object-fit: cover;
  width: 40px;
}
.img__nQfWd > picture > img {
  object-fit: cover;
}
.img__nQfWd > .__wab_img-spacer > img {
  object-fit: cover;
}
.button__rPt2F:global(.__wab_instance) {
  position: relative;
}
.svg__ccnBd {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: kBtqO0lq3538 */;
}
.svg__yt1Kv {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: kBtqO0lq3538 */;
}
.button__xvS1S:global(.__wab_instance) {
  position: relative;
}
.svg__pZnVz {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: kBtqO0lq3538 */;
}
.svg__l4FLu {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: kBtqO0lq3538 */;
}
.button__d82Ef:global(.__wab_instance) {
  position: relative;
}
.svg__h6WlD {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: kBtqO0lq3538 */;
}
.svg__vjrui {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: kBtqO0lq3538 */;
}
.button___5KOt4:global(.__wab_instance) {
  position: relative;
}
.svg___316AO {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: kBtqO0lq3538 */;
}
.text__rArmB {
  height: auto;
}
.svg___6YFdN {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: kBtqO0lq3538 */;
}
.button__od93H:global(.__wab_instance) {
  position: relative;
}
.svg__tgSuF {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: kBtqO0lq3538 */;
}
.svg___1GxdG {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: kBtqO0lq3538 */;
}
.button__eKwPe:global(.__wab_instance) {
  position: relative;
}
.svg__dCsxV {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: kBtqO0lq3538 */;
}
.svg__zzJam {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: kBtqO0lq3538 */;
}
.freeBox__nz75D {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox___9Ew3N {
  display: flex;
  flex-direction: column;
  height: auto;
}
.freeBox___9Ew3N > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___9Ew3N > :global(.__wab_flex-container) > *,
.freeBox___9Ew3N > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9Ew3N > :global(.__wab_flex-container) > picture > img,
.freeBox___9Ew3N
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__kmQbC {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2 {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9 /* plasmic-token: PmgDUvi4dWLy */;
  line-height: 1;
}
.text__jBoT {
  font-size: 20px;
  color: #05050599 /* plasmic-token: kBtqO0lq3538 */;
  text-align: left;
  line-height: 28px;
}
.freeBox__u0PfX {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 960px;
}
.freeBox__u0PfX > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__u0PfX > :global(.__wab_flex-container) > *,
.freeBox__u0PfX > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__u0PfX > :global(.__wab_flex-container) > picture > img,
.freeBox__u0PfX
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox__stsk7 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__stsk7 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.freeBox__stsk7 > :global(.__wab_flex-container) > *,
.freeBox__stsk7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__stsk7 > :global(.__wab_flex-container) > picture > img,
.freeBox__stsk7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__stsk7 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__stsk7 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__stsk7 > :global(.__wab_flex-container) > *,
  .freeBox__stsk7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__stsk7 > :global(.__wab_flex-container) > picture > img,
  .freeBox__stsk7
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.valueprop___7WBk:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__drsE9 {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__nZane {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: UvZoCyPKZlOj */;
}
.valueprop__t85J1:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___65Ogy {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__pTYtP {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: UvZoCyPKZlOj */;
}
.valueprop___7UIyN:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__odynb {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__aql7G {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: UvZoCyPKZlOj */;
}
.valueprop__grWtS:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__yi8O {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg___5JeUv {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: UvZoCyPKZlOj */;
}
.text___70Sjy {
  height: auto;
}
.freeBox__y9Nbs {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 960px;
}
.freeBox__y9Nbs > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__y9Nbs > :global(.__wab_flex-container) > *,
.freeBox__y9Nbs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__y9Nbs > :global(.__wab_flex-container) > picture > img,
.freeBox__y9Nbs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox__xldL8 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__xldL8 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.freeBox__xldL8 > :global(.__wab_flex-container) > *,
.freeBox__xldL8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xldL8 > :global(.__wab_flex-container) > picture > img,
.freeBox__xldL8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xldL8 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xldL8 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xldL8 > :global(.__wab_flex-container) > *,
  .freeBox__xldL8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__xldL8 > :global(.__wab_flex-container) > picture > img,
  .freeBox__xldL8
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.valueprop__k0FwH:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__iNmO {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__v9Sh2 {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: UvZoCyPKZlOj */;
}
.text__n9QmA {
  height: auto;
}
.valueprop__hhh2C:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__jzAt {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__ppTjT {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: UvZoCyPKZlOj */;
}
.valueprop___8Rtxf:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__pPcI9 {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg___6Ta4D {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: UvZoCyPKZlOj */;
}
.valueprop__nSnDq:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__pt48M {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__ddm6F {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: UvZoCyPKZlOj */;
}
.freeBox__l7U82 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__nmqaf {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__nmqaf > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__nmqaf > :global(.__wab_flex-container) > *,
.freeBox__nmqaf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nmqaf > :global(.__wab_flex-container) > picture > img,
.freeBox__nmqaf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__tQMeu {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
  color: #32d74b /* plasmic-token: Dg1ukjxFpR08 */;
}
.h2__scmbs {
  font-size: 48px;
  font-weight: 800;
  color: #ffffffd9 /* plasmic-token: 3XRLf3Bx1Bpb */;
  line-height: 1;
}
.text___6H4Zd {
  font-size: 20px;
  color: #ffffff80 /* plasmic-token: FFA4fziunCF0 */;
  line-height: 28px;
  height: auto;
}
.button__arRh6:global(.__wab_instance) {
  position: relative;
}
.svg___5GmL {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: kBtqO0lq3538 */;
}
.text__nYrOu {
  color: #0a84ff /* plasmic-token: ZrwwQ5VALWg4 */;
}
.svg__pl4S6 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #0a84ff /* plasmic-token: ZrwwQ5VALWg4 */;
}
.freeBox___8EtsC {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  min-width: 0;
}
.listItem__z4TPy:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text___5GoSj {
  color: #ffffffd9 /* plasmic-token: 3XRLf3Bx1Bpb */;
}
.svg___3UIg2 {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #32d74b /* plasmic-token: Dg1ukjxFpR08 */;
}
.listItem__svSpX:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__yfkZs {
  color: #ffffffd9 /* plasmic-token: 3XRLf3Bx1Bpb */;
}
.svg__slUiB {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #32d74b /* plasmic-token: Dg1ukjxFpR08 */;
}
.listItem__gsDj:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__ozcaO {
  height: auto;
  color: #ffffffd9 /* plasmic-token: 3XRLf3Bx1Bpb */;
}
.svg__jsY7 {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #32d74b /* plasmic-token: Dg1ukjxFpR08 */;
}
.listItem__ybzbW:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__jXgOl {
  height: auto;
  color: #ffffffd9 /* plasmic-token: 3XRLf3Bx1Bpb */;
}
.svg__hv7Wu {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #32d74b /* plasmic-token: Dg1ukjxFpR08 */;
}
.listItem__cHmN0:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__mqlrq {
  height: auto;
  color: #ffffffd9 /* plasmic-token: 3XRLf3Bx1Bpb */;
}
.svg__ujCl3 {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #32d74b /* plasmic-token: Dg1ukjxFpR08 */;
}
.freeBox__pNmFg {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox___9UbVe {
  display: flex;
  flex-direction: column;
}
.freeBox___9UbVe > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___9UbVe > :global(.__wab_flex-container) > *,
.freeBox___9UbVe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9UbVe > :global(.__wab_flex-container) > picture > img,
.freeBox___9UbVe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__ntWnl {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__aadk1 {
  font-size: 48px;
  font-weight: 800;
  color: #ffffffd9 /* plasmic-token: 3XRLf3Bx1Bpb */;
  line-height: 1;
}
.text___8Bksz {
  font-size: 20px;
  color: #ffffff80 /* plasmic-token: FFA4fziunCF0 */;
  text-align: center;
  line-height: 28px;
  height: auto;
}
.freeBox__zHose {
  display: flex;
  position: relative;
  flex-direction: row;
  max-width: 1920px;
}
.freeBox__zHose > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zHose {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zHose > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zHose > :global(.__wab_flex-container) > *,
  .freeBox__zHose > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__zHose > :global(.__wab_flex-container) > picture > img,
  .freeBox__zHose
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__jW55N {
  box-shadow: 0px 10px 10px 0px #00000026;
  display: flex;
  position: relative;
  flex-direction: column;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  overflow: hidden;
  max-width: 400px;
  background: #ffffff;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jW55N {
    border-radius: 16px;
  }
}
.freeBox__kifah {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 32px;
}
.freeBox__kifah > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__kifah > :global(.__wab_flex-container) > *,
.freeBox__kifah > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kifah > :global(.__wab_flex-container) > picture > img,
.freeBox__kifah
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__kPiR3 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
}
.freeBox__fcWfp {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__fcWfp > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__fcWfp > :global(.__wab_flex-container) > *,
.freeBox__fcWfp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fcWfp > :global(.__wab_flex-container) > picture > img,
.freeBox__fcWfp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__orrtR {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.text__q7LWv {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #000000d9 /* plasmic-token: PmgDUvi4dWLy */;
  width: auto;
  display: inline-block;
}
.text__us3Kf {
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  color: #000000d9 /* plasmic-token: PmgDUvi4dWLy */;
  width: auto;
  display: inline-block;
}
.text__fNw40 {
  line-height: 28px;
  color: #05050599 /* plasmic-token: kBtqO0lq3538 */;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 20px;
  height: auto;
}
.divider__c01Xl:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.freeBox__ypu1 {
  display: flex;
  position: relative;
  flex-direction: column;
  background: #f2f2f7;
  padding: 32px;
}
.freeBox__ypu1 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__ypu1 > :global(.__wab_flex-container) > *,
.freeBox__ypu1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ypu1 > :global(.__wab_flex-container) > picture > img,
.freeBox__ypu1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__yUr5A {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__yUr5A > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__yUr5A > :global(.__wab_flex-container) > *,
.freeBox__yUr5A > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yUr5A > :global(.__wab_flex-container) > picture > img,
.freeBox__yUr5A
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.valueprop__tKne5:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__kIcq {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg__amOWn {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: UvZoCyPKZlOj */;
}
.valueprop__xl2AJ:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__qtmIf {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg__inzXg {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: UvZoCyPKZlOj */;
}
.svg__kwcFz {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: kBtqO0lq3538 */;
}
.text__qafNk {
  height: auto;
}
.svg__nFhHd {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: kBtqO0lq3538 */;
}
.freeBox__zcqSj {
  box-shadow: 0px 10px 10px 0px #00000026;
  display: flex;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  background: #ffffff;
  border-radius: 16px;
  border: 4px solid #34c759 /* plasmic-token: lJBUBkSnJyHz */;
}
.freeBox__cgOrb {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 32px;
}
.freeBox__cgOrb > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__cgOrb > :global(.__wab_flex-container) > *,
.freeBox__cgOrb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cgOrb > :global(.__wab_flex-container) > picture > img,
.freeBox__cgOrb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__gsN1 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
}
.freeBox__lEreW {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__lEreW > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__lEreW > :global(.__wab_flex-container) > *,
.freeBox__lEreW > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lEreW > :global(.__wab_flex-container) > picture > img,
.freeBox__lEreW
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__xVEhP {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.text___1M4PL {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #000000d9 /* plasmic-token: PmgDUvi4dWLy */;
  width: auto;
  display: inline-block;
}
.text__m090U {
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  color: #000000d9 /* plasmic-token: PmgDUvi4dWLy */;
  width: auto;
  display: inline-block;
}
.text__bbFiX {
  line-height: 28px;
  color: #05050599 /* plasmic-token: kBtqO0lq3538 */;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 20px;
}
.divider___3IMVa:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.freeBox__bOnV {
  display: flex;
  position: relative;
  flex-direction: column;
  background: #f2f2f7;
  padding: 32px;
}
.freeBox__bOnV > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__bOnV > :global(.__wab_flex-container) > *,
.freeBox__bOnV > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bOnV > :global(.__wab_flex-container) > picture > img,
.freeBox__bOnV
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__mqBxP {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__mqBxP > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__mqBxP > :global(.__wab_flex-container) > *,
.freeBox__mqBxP > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mqBxP > :global(.__wab_flex-container) > picture > img,
.freeBox__mqBxP
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.valueprop__qhEa2:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__kZ8Iq {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg__dcmBs {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: UvZoCyPKZlOj */;
}
.valueprop___07YgZ:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__ccjl {
  height: auto;
}
.svg__qIfkE {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg__yGeob {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: UvZoCyPKZlOj */;
}
.valueprop__mf4Gf:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__l4MsI {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg__lQpZ {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: UvZoCyPKZlOj */;
}
.valueprop__b7PpG:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__qPdRz {
  height: auto;
}
.svg__zbUod {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg__e8Hf {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: UvZoCyPKZlOj */;
}
.svg__f5Rc7 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: kBtqO0lq3538 */;
}
.text__fAgr7 {
  height: auto;
}
.svg__frQfX {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: kBtqO0lq3538 */;
}
.freeBox__p5Tgj {
  box-shadow: 0px 10px 10px 0px #00000026;
  display: flex;
  position: relative;
  flex-direction: column;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
  max-width: 400px;
  background: #ffffff;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__p5Tgj {
    border-radius: 16px;
  }
}
.freeBox___2Ey7A {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 32px;
}
.freeBox___2Ey7A > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___2Ey7A > :global(.__wab_flex-container) > *,
.freeBox___2Ey7A > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2Ey7A > :global(.__wab_flex-container) > picture > img,
.freeBox___2Ey7A
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__qhouT {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.freeBox__iiHZw {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__iiHZw > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__iiHZw > :global(.__wab_flex-container) > *,
.freeBox__iiHZw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iiHZw > :global(.__wab_flex-container) > picture > img,
.freeBox__iiHZw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__oYqPa {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.text__kilYi {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #000000d9 /* plasmic-token: PmgDUvi4dWLy */;
  width: auto;
  display: inline-block;
}
.text___3Aw4L {
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  color: #000000d9 /* plasmic-token: PmgDUvi4dWLy */;
  width: auto;
  display: inline-block;
}
.text___1Y8N {
  line-height: 28px;
  color: #05050599 /* plasmic-token: kBtqO0lq3538 */;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 20px;
}
.divider__dwNtM:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.freeBox__cNb {
  display: flex;
  position: relative;
  flex-direction: column;
  background: #f2f2f7;
  padding: 32px;
}
.freeBox__cNb > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__cNb > :global(.__wab_flex-container) > *,
.freeBox__cNb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cNb > :global(.__wab_flex-container) > picture > img,
.freeBox__cNb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__csAta {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__csAta > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__csAta > :global(.__wab_flex-container) > *,
.freeBox__csAta > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__csAta > :global(.__wab_flex-container) > picture > img,
.freeBox__csAta
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.valueprop__aLpKn:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__a6ZSe {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg__cXgs {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: UvZoCyPKZlOj */;
}
.valueprop___9Yo3:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__p3Shr {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg___1XJed {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: UvZoCyPKZlOj */;
}
.svg__ulL9A {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: kBtqO0lq3538 */;
}
.text__pqqo0 {
  height: auto;
}
.svg___8Vu5D {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: kBtqO0lq3538 */;
}
.shopBanners:global(.__wab_instance) {
  position: relative;
}
.banner__fT0Ph:global(.__wab_instance) {
  position: relative;
}
.img__kXWv {
  position: relative;
  align-self: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img__kXWv > picture > img {
  object-fit: cover;
}
.img__kXWv > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__nmR1W {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.text__dsYbf {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9 /* plasmic-token: PmgDUvi4dWLy */;
  line-height: 1;
  height: auto;
}
.svg__g24Vc {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: kBtqO0lq3538 */;
}
.text__lYyRn {
  height: auto;
  width: auto;
  color: #007aff /* plasmic-token: byFVMi6W2hRp */;
  white-space: pre;
  display: inline-block;
}
.svg___1YpF {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: kBtqO0lq3538 */;
}
.freeBox__v7Ld {
  display: flex;
  position: relative;
  flex-direction: row;
  max-width: 1920px;
  width: 100%;
  min-width: 0;
}
.freeBox__v7Ld > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__v7Ld > :global(.__wab_flex-container) > *,
.freeBox__v7Ld > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__v7Ld > :global(.__wab_flex-container) > picture > img,
.freeBox__v7Ld
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__v7Ld {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__v7Ld > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__v7Ld > :global(.__wab_flex-container) > *,
  .freeBox__v7Ld > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__v7Ld > :global(.__wab_flex-container) > picture > img,
  .freeBox__v7Ld
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.img__p2BWe {
  position: relative;
  align-self: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img__p2BWe > picture > img {
  object-fit: cover;
}
.img__p2BWe > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__zc93F {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.text__qCsks {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9 /* plasmic-token: PmgDUvi4dWLy */;
  line-height: 1;
  height: auto;
}
.svg__kq1Sq {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: kBtqO0lq3538 */;
}
.text__wOb1H {
  height: auto;
  width: auto;
  color: #007aff /* plasmic-token: byFVMi6W2hRp */;
  white-space: pre;
  display: inline-block;
}
.svg__eDi4E {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: kBtqO0lq3538 */;
}
.banner__urn3V:global(.__wab_instance) {
  position: relative;
}
.img__fOdJc {
  position: relative;
  align-self: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img__fOdJc > picture > img {
  object-fit: cover;
}
.img__fOdJc > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__uiq6C {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.text___0Qi66 {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9 /* plasmic-token: PmgDUvi4dWLy */;
  line-height: 1;
  height: auto;
}
.svg__fRdNr {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: kBtqO0lq3538 */;
}
.text__fOzEm {
  height: auto;
  width: auto;
  color: #007aff /* plasmic-token: byFVMi6W2hRp */;
  white-space: pre;
  display: inline-block;
}
.svg__xzlIu {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: kBtqO0lq3538 */;
}
.logoCloudSection2:global(.__wab_instance) {
  position: relative;
}
.img__lcoXr {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__lcoXr > picture > img {
  object-fit: cover;
}
.img__lcoXr > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__oRxMi {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__oRxMi > picture > img {
  object-fit: cover;
}
.img__oRxMi > .__wab_img-spacer > img {
  object-fit: cover;
}
.img___1UAVf {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img___1UAVf > picture > img {
  object-fit: cover;
}
.img___1UAVf > .__wab_img-spacer > img {
  object-fit: cover;
}
.img___3RFCr {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img___3RFCr > picture > img {
  object-fit: cover;
}
.img___3RFCr > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__z7WOl {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__z7WOl > picture > img {
  object-fit: cover;
}
.img__z7WOl > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__rcmNi {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.testimonial__kkDLz:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.img__eeOga {
  position: relative;
  left: auto;
  top: auto;
  width: 64px;
  height: 64px;
  border-radius: 32px;
}
.testimonial___9QVnn:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.img__pSb62 {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 64px;
  height: 64px;
  border-radius: 32px;
}
.img__pSb62 > picture > img {
  object-fit: cover;
}
.img__pSb62 > .__wab_img-spacer > img {
  object-fit: cover;
}
.testimonial__jIqJs:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__pZ8V {
  height: auto;
}
.text__zZr93 {
  height: auto;
}
.img__hPhV {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 64px;
  height: 64px;
  border-radius: 32px;
}
.img__hPhV > picture > img {
  object-fit: cover;
}
.img__hPhV > .__wab_img-spacer > img {
  object-fit: cover;
}
.testimonial__vthcs:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__wO3F {
  height: auto;
}
.img__kWmxn {
  position: relative;
  left: auto;
  top: auto;
  width: 64px;
  height: 64px;
  border-radius: 32px;
}
.callToActionSection1:global(.__wab_instance) {
  position: relative;
}
.img__olcud {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.img__olcud > picture > img {
  object-fit: cover;
}
.img__olcud > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__x8Owb {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  mix-blend-mode: multiply;
  background: #007aff;
}
.freeBox__wygWs {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__wygWs > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__wygWs > :global(.__wab_flex-container) > *,
.freeBox__wygWs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wygWs > :global(.__wab_flex-container) > picture > img,
.freeBox__wygWs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__oOaIx {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
  color: #ffffffd9 /* plasmic-token: 3XRLf3Bx1Bpb */;
}
.text__rlcKb {
  font-size: 48px;
  font-weight: 800;
  color: #ffffffd9 /* plasmic-token: 3XRLf3Bx1Bpb */;
  line-height: 1;
}
.text__psHYc {
  font-size: 20px;
  color: #ffffff80 /* plasmic-token: FFA4fziunCF0 */;
  line-height: 28px;
}
.freeBox__vg66N {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__vg66N > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__vg66N > :global(.__wab_flex-container) > *,
.freeBox__vg66N > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vg66N > :global(.__wab_flex-container) > picture > img,
.freeBox__vg66N
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button___7NxQb:global(.__wab_instance) {
  position: relative;
}
.svg__wjv7P {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: kBtqO0lq3538 */;
}
.svg__nhLps {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: kBtqO0lq3538 */;
}
.button__oySci:global(.__wab_instance) {
  position: relative;
}
.svg__fzpcq {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: kBtqO0lq3538 */;
}
.text___5TnR9 {
  height: auto;
  font-weight: 400;
}
.svg__wHFaW {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: kBtqO0lq3538 */;
}
